*{
    background-color: rgb(247, 191, 89); 
    background-image: url(winnipeg.jpg);
}



.d1{
    width: 1000px;
    margin: 50px auto;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 5em;
    text-transform: uppercase;
    margin-top: 25%;
    border: solid 3px white;
}

button{
   border: solid 2px white;
   text-decoration: none;
   width: 200px;
   margin: 25px;
   padding: 20px 10px;
   font-size: 2em;
   &:hover{
    @include transition;
    background-color: white;
    border: solid 2px white;
   }
}

p{
font-size: xx-large;
}

/* Mobile first approach */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For tablets: */
@media only screen and (max-width: 600px) {

    .d1 {
        display:inline-block;
        width: 100%;
    }
    
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    
}
/* For desktop: */
@media only screen and (min-width: 768px) {

    

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}