*{
    background-color: rgb(247, 191, 89);
   
}

.d1{
    width: 1000px;
    margin: 50px auto;
    color: black;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 5em;
    text-transform: uppercase;
}

button{
   border: solid 2px white;
   text-decoration: none;
   width: 200px;
   margin: 25px;
   padding: 20px 10px;
   font-size: 2em;
   &:hover{
    @include transition;
    background-color: white;
    border: solid 2px white;
   }
}

p{
font-size: xx-large;
}